<footer>
    <div id="footer-container">
        <div class="footer-content">
            <div class="footer-section">
                <h3 id="about-title"></h3>
                <p id="dimyadi-title"></p>
                <div class="social-links">
                    <a href="https://github.com/MEHDIMYADI" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                    <a href="https://linkedin.com/in/mehdimyadi" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h3 id="links-title"></h3>
                <ul class="footer-links" id="footer-links"></ul>
            </div>

            <div class="footer-section">
                <h3 id="contact-title"></h3>
                <ul class="footer-links">
                    <li><i class="fas fa-envelope"></i> <a href="mailto:mahdi2006d@gmail.com" class="footer-links" id="contact-email"></a></li>
                    <li><i class="fas fa-phone"></i> <span id="call-title"></span></li>
                    <li><i class="fas fa-map-marker-alt"></i> <span id="address-title"></span></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p id="footer-copyright"></p>
            <a href="https://dimyadi.ir" target="_blank" rel="noopener noreferrer" class="footer-link">DIMYADI</a>
        </div>
    </div>
</footer>
