<header>
    <nav>
        <h1 id="logo"></h1>
        <div id="navMenu">
            <a class="nav-link" data-section="hero"></a>
            <a class="nav-link" data-section="skills-title"></a>
            <a class="nav-link" data-section="projects-title"></a>
            <a class="nav-link" data-section="experience-title"></a>
        </div>
        <div class="nav-controls">
            <button id="themeSwitch">
                <i id="themeIcon" class="fas fa-moon"></i>
            </button>
            <button id="langSwitch"></button>
            <button id="menuToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
</header>
