    <section id="hero">
        <div class="hero-content">
            
            <div id="avatar-container" class="avatar-wrapper loading">
                <img id="hero-avatar" alt="Mehdi Dimyadi" />
                <div class="loading-overlay">
                  <div class="loading-ring"></div>
                    <span></span>
                    <p class="loading-text" id="loading-title"></p>
                </div>
            </div>
            
            <h2 id="hero-title"></h2>
            
            <div class="hero-layout">
                <p id="hero-subtitle"></p>
                <div class="mountain-flag">
                    <div class="flag-scene">
                        <div class="cloud"></div>
                        <div class="cloud2"></div>
                        <div class="mountain"></div>
                        <div class="dash dash1"></div>
                        <div class="dash dash2"></div>
                        <div class="dash dash3"></div>
                        <div class="dash dash4"></div>
                        <div class="dash dash5"></div>
                        <div class="dash dash6"></div>
                        <div class="dash dash7"></div>
                        <div class="dash dash8"></div>
                        <div class="dash dash9"></div>
                        <div class="dash dash10"></div>
                        <div class="flag"></div>
                        <div class="overlay">
                            <div id="climber-quote"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
        <a class="scroll-down">
            <i class="fas fa-angle-down"></i>
        </a>

    </section>
